name: Sync to Hugging Face
on:
 push:
   branches:
     - main
jobs:
 sync-to-hub:
   runs-on: ubuntu-latest
   steps:
     - uses: actions/checkout@v3
       with:
         fetch-depth: 0
     - name: Push to Hugging Face Hub
       env:
         HF_TOKEN: ${{ secrets.HF_TOKEN }}
       run: |
         git push https://efrylinkcompliance:${{ secrets.HF_TOKEN }}@huggingface.co/spaces/efrylinkcompliance/compliance-ollama-portal main
